@model FTISWeb.Models.ParamaterModel

@using FTISWeb.Helper;
@using System.Web.Script.Serialization
@using FTISWeb.Utility;
@{
    @*權限*@
    bool AllowRead = (bool)ViewData["AllowRead"];
    bool AllowEdit = (bool)ViewData["AllowEdit"];
    bool AllowDelete = (bool)ViewData["AllowDelete"];    
 }
<script>
        $(function () {
            //建立資料來源物件
            var dataSrc = new kendo.data.DataSource({
                transport: {
                    read: {
                        //以下其實就是$.ajax的參數
                        type: "POST",
                        url: "@Url.Action("AjaxBinding", Model.ControllerName)",
                        dataType: "json",
                        data: {
                            //額外傳至後方的參數
                            keyWord: function () {
                                return $("#KeyWord").val();
                            }
                        }
                    }
                },
                schema: {
                    //取出資料陣列
                    data: function (d) { return d.data; },
                    //取出資料總筆數(計算頁數用)
                    total: function (d) { return d.total; }
                },
                pageSize: Number('@AppSettings.AdminPageSize'),
                serverPaging: true,
                serverSorting: true
            });
            //JSON日期轉換
            //var dateRegExp = /^\/Date\((.*?)\)\/$/;
            //window.toDate = function (value) {
            //    var date = dateRegExp.exec(value);
            //    return new Date(parseInt(date[1]));
            //}
            $("#dvGrid").kendoGrid({
                dataSource: dataSrc,
                columns: [
                    {
                        fiels: "@Model.EntityId",
                        headerTemplate: "<input type='checkbox' onchange='ToggleAll(this);' id='ToggleCheckbox'/>",
                        template: "<input type='checkbox' value='#= @Model.EntityId#' name='IsDelete' class='IsDelete' />",
                        sortable: false,
                        attributes: { "style": "text-align: center;" },
                        width: 50
                    },                                        
                    {
                        field: "Account",
                        title: "登入帳號",
                        sortable: true,                        
                        attributes: { "style": "text-align: center;" },
                        width: 100
                    },
                    {
                        field: "Name",
                        title: "姓名",
                        template: '#= "<span class=\\"u-name\\">" + Name + "</span>" #',
                        sortable: true
                    },  
                    {
                        field: "Email",
                        title: "電子郵件",
                        sortable: true,
                    },
                    {
                        field: "GetStr_Status",
                        title: "狀態",
                        sortable: true,
                        attributes: { "style": "text-align: center;" },
                        width: 100
                    },
                    {
                        title: "操作",
                        template: kendo.template($("#command-template").html()),
                        sortable: false,
                        width: 160
                    }
                ],
                editable: "popup",
                sortable: true,
                pageable: {
                    refresh: true
                    //, pageSizes: true
                },
                scrollable: false,
                dataBound: function () {
                    //AJAX資料Bind完成後觸發
                    var kw = $("#KeyWord").val();
                    //若有設關鍵字，做Highlight處理
                    if (kw.length > 0) {
                        var re = new RegExp(kw, "g");
                        $(".u-name").each(function () {
                            var $td = $(this);
                            $td.html($td.text()
                           .replace(re, "<span class='hi-lite'>$&</span>"));
                        });
                    }
                }
            });            
        });

        //全選，全不選
        function ToggleAll(sender) {
            if ($(sender).prop('checked')) {
                SelectAll('#dvGrid');
                return;
            } else {
                ClearSelect('#dvGrid');
            }
        }

    </script>

<script id="command-template" type="text/x-kendo-template">
    @if(AllowEdit)
    {        
        <a class="k-button k-grid-Edit" href="@Url.Action(Model.ActionName, Model.ControllerName, new { cdts = Model.Conditions })&id=#: @Model.EntityId #"><span>編輯</span></a>
    }
    @if(AllowDelete)
    {
        <div class="k-button k-grid-Delete" entityId="#: @Model.EntityId #" entityName="#: Account #"><span>刪除</span> </div>
    }   
</script>