@model FTISWeb.Models.GreenFactoryModel
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using FTIS.Domain.Impl;
<div id="In-Table">
  <div id="In-left"><!--左-->
    @Html.Partial("InFlash") 
    @Html.Partial("GreenFactoryLeftMenu")    
    @Html.Partial("InSiteLeftMenu")
  </div><!--左結尾-->


  <div id="InShow"><!--內容-->
    @Html.Partial("InShowAdv")
    <h1>綠色工廠<span class="Pon"><a href="@Url.Action("Index", "Home")">首頁</a> &gt; <a href="@Url.Action("Index", "GreenFactory")">綠色工廠</a> &gt; @Model.GreenFactoryClass.Name</span></h1>
      <h2>@Model.Name </h2>
    <div id="InShow-INob">       
        @(new HtmlString(Model.Content))
    </div>
  </div><!--內容結尾-->
</div>