@model MemberModel
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using MvcPaging
@using FTISWeb.Models;
@using System.Web.Script.Serialization;
@using WuDada.Core.Generic.Extension;
@{
    HomeShowModel m_hsModel = new HomeShowModel();

    @*行業別*@
    IList<SelectListItem> m_IndustryList = new List<SelectListItem>();
    if(ViewData["IndustrySelectList"]!=null)
    {
        m_IndustryList = (IList<SelectListItem>)ViewData["IndustrySelectList"];
    }
}
@section HeadContent{
    <script type="text/javascript">
        $(function () {
            $("#frmSendOrder").click(function () {
                ClearUI('#frmSendEmail');
            });
            $("#safecode").click(function () {
                $("#safecode").attr("src", $("#safecode").attr('src') + '?' + Math.random());
            });
        });

        function CheckLoginId() {
            var loginId = $("#LoginId").val();            
            $.post('@Url.Action("CheckLoginId", "Member")', { loginId: $("#LoginId").val() }, function (data) {
                if (data == true) {
                    alert('帳號已經有人使用，請更換一個帳號');
                }
                else {
                    alert('帳號可以使用。');
                }
            });
        }
    </script>
}
<div id="In-Table">
  <div id="In-left"><!--左-->
    @Html.Partial("InFlash")    
    @Html.Partial("MemberLeftMenu")
    @Html.Partial("InSiteLeftMenu")
  </div><!--左結尾-->
  <div id="InShow"><!--內容-->
      @Html.Partial("InShowAdv")
      <h1>加入會員</h1>    
      @using (Html.BeginForm("Join", "Member", FormMethod.Post, new { id = "frmSendOrder" }))
{  
    <div id="InShow-INob">
    <p class="Member-txt01">請正確輸入您的聯絡資料，輸入後按確定送出即可。(<span class="Vistors-txt"> ＊</span> 為必填項目)</p>
    <table border="0" cellpadding="0" cellspacing="0" class="Member-table01">
      <tr>
        <td><img src="@Url.Content("~/in-image/member-table-U.gif")" width="617" height="22" alt="icon" /></td>
        </tr>
      <tr>
        <td><p class="Join-txtP"><span class="txt-orgon">＊</span>會員帳號：
            @Html.TextBox("LoginId", Model.LoginId, new { id = "LoginId", @class = "csr-Order2" })          
            <a href="javascript:CheckLoginId();" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image19','','/in-image/member-search-over.gif',1)"><img src="@Url.Content("~/in-image/member-search.gif")" name="Image19" width="171" height="23" border="0" id="Image19" alt="查詢帳號" /></a></p>
          <p class="Join-txtP"><span class="txt-orgon">＊</span>登入密碼：
              @Html.Password("Password", Model.Password, new { id = "Password", @class = "csr-Order", size = "25" })     
          </p>
          <p class="Join-txtP"><span class="txt-orgon">＊</span>確認密碼：
              @Html.Password("CheckPassword", Model.CheckPassword, new { id = "CheckPassword", @class = "csr-Order", size = "25" })            
          </p>
          <p class="Join-txtP"><span class="txt-orgon">＊</span>姓名：
              @Html.TextBox("Name", Model.Name, new { id = "Name", @class = "csr-Order", size = "25" })            
          </p>
          <p class="Join-txtP"><span class="txt-orgon">＊</span>公司名稱：
              @Html.TextBox("Company", Model.Company, new { id = "Company", @class = "csr-Order2" })  
          </p>
          <p class="Join-txtP">　統一編號：
            @Html.TextBox("CompanyNo", Model.CompanyNo, new { id = "CompanyNo", @class = "csr-Order", size = "25" })  
          </p>
          <p class="Join-txtP"><span class="txt-orgon">＊</span>公司規模：
          <label>@Html.RadioButtonFor(m => m.CompanyNum, "1") 大企業</label>
                    <label>@Html.RadioButtonFor(m => m.CompanyNum, "2") 中小企業</label>  
          </p>
          <p class="Join-txtP"><span class="txt-orgon">＊</span>行業別
              @Html.DropDownList("IndustryId", m_IndustryList, "請選擇", new { @class = "csr-Order" })　
          </p>
          <p class="Join-txtP">　公司屬性：
            <input type="checkbox" name="CompanyTypeList" value="1" @(Model.CompanyTypeList.Contains("1")? "checked" :string.Empty) />
            ODM(設計製造代工廠)　
            <input type="checkbox" name="CompanyTypeList" value="2" @(Model.CompanyTypeList.Contains("2")? "checked" :string.Empty)/>
            OBM(品牌廠商)　
            <input type="checkbox" name="CompanyTypeList" value="3" @(Model.CompanyTypeList.Contains("3")? "checked" :string.Empty)/>
            OEM(設備製造代工廠)　<br />
            　　　　　　
            <input type="checkbox" name="CompanyTypeList" value="4" @(Model.CompanyTypeList.Contains("4")? "checked" :string.Empty)/>
            其他 
            @Html.TextBox("CompanyTypeOther", Model.CompanyTypeOther, new { id = "CompanyTypeOther", @class = "csr-Order2" })  
          </p>
          <p class="Join-txtP">　部　　門：
            @Html.TextBox("Dept", Model.Dept, new { id = "Dept", @class = "csr-Order2" })
          </p>
          <p class="Join-txtP">　傳　　真：
            @Html.TextBox("Fax", Model.Fax, new { id = "Fax", @class = "csr-Order2" })
          </p>
          <p class="Join-txtP"><span class="txt-orgon">＊</span>電子信箱：
            @Html.TextBox("Email", Model.Email, new { id = "Email", @class = "csr-Order2" })
          </p>
          <p class="Join-txtP">　主要產品：
              @Html.TextArea("Content", Model.Content, new { id = "Content", @class = "csr-Order3", cols = "45", rows="3" })            
          </p>
          <p class="Join-txtP">　是否同意本會提供免費電子報資訊：
              <label>@Html.RadioButtonFor(m => m.ReceiveEpaperInfo, "1") 是</label>
        <label>@Html.RadioButtonFor(m => m.ReceiveEpaperInfo, "0") 否</label>            
          </p>
          <p class="Join-txtP"><span class="txt-orgon">＊</span>識別碼　：
              @Html.TextBox("ConfirmationCode", Model.ConfirmationCode, new { id = "ConfirmationCode", @class = "csr-Order", size = "10" })              
          <img id="safecode" src="@Url.Action("CaptchaImg", "Member")" width="100" height="30" alt="識別碼" /></p>
          <div class="Epaper02-Btn"><input type="image" name="Submit" src="@Url.Content("~/in-image/com-sent-btn.gif")" width="78" height="25" alt="填好送出" />
           <a id="btnClear" href="#"><img src="@Url.Content("~/in-image/com-clear-btn.gif")" width="78" height="25" alt="清除" /></a></div>
          </td>
      </tr>
      <tr>
        <td align="center"><img src="@Url.Content("~/in-image/member-table-D.gif")" alt="icon" width="617" height="22" /></td>
      </tr>
    </table>
        <div class="txt-red"> @Html.ValidationSummary()</div>    
    </div>        
      }
  </div><!--內容結尾-->
</div>
@if (!Model.SendOrderOk && !string.IsNullOrWhiteSpace(Model.ErrorMsg))
{
    string msg = Model.ErrorMsg;
    <script type="text/javascript">
        alert("@msg!");
    </script>

}