@model FTISWeb.Models.ApplicationModel
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using FTISWeb.Models;
@using FTIS.Domain.Impl;
@{
    HomeShowModel m_hsModel = new HomeShowModel(); 
}
@section HeadContent{}
<div id="In-Table">
  <div id="In-left"><!--左-->
    @Html.Partial("InFlash")
    @Html.Partial("ApplicationLeftMenu")
    @Html.Partial("InSiteLeftMenu")
  </div><!--左結尾-->


  <div id="InShow"><!--內容-->
    @Html.Partial("InShowAdv")
    <h1>企業社會責任<span class="Pon"><a href="@Url.Action("Index", "Home")">首頁</a> &gt; <a href="@Url.Action("Index", "Application")">企業社會責任</a> &gt; @Model.ApplicationClass.Name</span></h1>    
    <h2>@Model.ApplicationClass.Name</h2>
    <div id="InShow-INob">
      <p class="News-IN-Title">@Model.Name</p>
      <p class="News-IN-Day">刊登日期：@m_hsModel.GetStr_Date(Model.PostDate)</p>      
      @(new HtmlString(Model.Content))
    <table border="0" cellpadding="0" cellspacing="0" class="Extend-table">
        <tr>
          <td><img src="@Url.Content("~/in-image/com-related-news.gif")" width="640" height="49" /></td>
        </tr>
        <tr>
          <td><ul>
              @{
                foreach(News news in Model.GetNewsByTags())
                {
                    <li class="csr-Extend-txt"><span class="csr-Extend-day">@news.GetStr_PostDate</span><a href="@Url.Action("Detail", "News", new { id= Model.EncryptId(news.NewsId) })">@(Model.SubString(news.Name, 35, true))</a></li>
                }
              }           
          </ul></td>
        </tr>
        <tr>
          <td><img src="@Url.Content("~/in-image/com-related-news-D.gif")" width="640" height="12" /></td>
        </tr>
      </table>
      <a href="javascript:history.back();"><p class="News-IN-Back"></p></a>
      </div>
    
  </div><!--內容結尾-->
</div>