@model MemberModel
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using MvcPaging
@using FTISWeb.Models;
@using System.Web.Script.Serialization;
@using WuDada.Core.Generic.Extension;
@{
    HomeShowModel m_hsModel = new HomeShowModel();
}
@section HeadContent{
    <script type="text/javascript">
        $(function () {
            $("#safecode").click(function () {
                $("#safecode").attr("src", $("#safecode").attr('src') + '?' + Math.random());
            });
        });
    </script>
}
<div id="In-Table">
  <div id="In-left"><!--左-->
    @Html.Partial("InFlash")    
    @Html.Partial("MemberLeftMenu")
    @Html.Partial("InSiteLeftMenu")
  </div><!--左結尾-->
  <div id="InShow"><!--內容-->
    @Html.Partial("InShowAdv")
      <h1>忘記密碼</h1>
      @using (Html.BeginForm("ForgetPass", "Member", FormMethod.Post, new { id = "frmSendOrder" }))
{  
    <div id="InShow-INob">
    <p class="Member-txt01">請輸入您的會員姓名、會員帳號及註冊時輸入的 E-mail，我們會將密碼 E-mail 至您的信箱！</p>
        <table border="0" cellpadding="0" cellspacing="0" class="Member-table01">
      <tr>
        <td colspan="2"><img src="/in-image/member-table-U.gif" width="617" height="22" /></td>
      </tr>
      <tr>
        <td width="209" align="center"><img src="/in-image/member-password-icon.gif" width="155" height="155" /></td>
        <td width="408" valign="top">
        <input type="image" name="Submit" class="forget-btn" src="/in-image/member-send-btn.gif" alt="忘記密碼"  />
          <p class="Mem-txt01">請輸入姓名、會員帳號及 E-mail，按送出即可！</p>
          <ul class="Mem-txt02-UL">
            <li>會員帳號：
              @Html.TextBox("LoginId", Model.LoginId, new { id = "LoginId", @class = "csr-Order", size = "25" })
              </li>
            <li>電子信箱：
              @Html.TextBox("Email", Model.Email, new { id = "Email", @class = "csr-Order", size = "25" })
              </li>
            <li>驗證碼　：
                @Html.TextBox("ConfirmationCode", Model.ConfirmationCode, new { id = "ConfirmationCode", @class = "csr-Order", size = "10" })
              
              <img id="safecode" src="@Url.Action("CaptchaImg", "Member")" width="100" height="25" alt="識別碼" /></li>
          </ul></td>
      </tr>
      <tr>
        <td colspan="2" align="center"><img src="/in-image/member-table-D.gif" width="617" height="22" /></td>
      </tr>
    </table>
        <div class="txt-red"> @Html.ValidationSummary()</div>
    </div>      
      }
  </div><!--內容結尾-->
</div>
@if (!Model.SendOrderOk && !string.IsNullOrWhiteSpace(Model.ErrorMsg))
{
    string msg = Model.ErrorMsg;
    <script type="text/javascript">
        alert("@msg!");
    </script>

}
else if (Model.SendOrderOk && !string.IsNullOrWhiteSpace(Model.Msg))
{
    string msg = Model.Msg;
   <script type="text/javascript">
       alert("@msg");
       window.location.href = "@Url.Action("Index", "Member")";
    </script> 
}