@model MemberModel
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using MvcPaging
@using FTISWeb.Models;
@using System.Web.Script.Serialization;
@using WuDada.Core.Generic.Extension;
@{
    HomeShowModel m_hsModel = new HomeShowModel();
}
<div id="In-Table">
  <div id="In-left"><!--左-->
    @Html.Partial("InFlash")    
    @Html.Partial("MemberLeftMenu")
    @Html.Partial("InSiteLeftMenu")
  </div><!--左結尾-->
  <div id="InShow"><!--內容-->
    @Html.Partial("InShowAdv")
      <h1>會員登入</h1>
    <div id="InShow-INob">
    <p class="Member-txt01">歡迎您踴躍加入成為『產業永續發展整合資訊網 』會員，以使用網站相關服務。<br />
    本網站保有審核通過之權利。</p>
    <table border="0" cellpadding="0" cellspacing="0" class="Member-table01">
      <tr>
        <td colspan="2"><img src="/in-image/member-table-U.gif" alt="icon" width="617" height="22" /></td>
        </tr>
      <tr>
        <td width="209" align="center"><img src="/in-image/member-login-icon.gif" width="144" height="158" /></td>
        <td width="408"><p class="Mem-txt01"><strong>請輸入會員帳號及密碼，按登入即可！</strong></p>          <span class="News-IN-3Function-txt"><a href="@Url.Action("DoLogoff", "Member")" class="btn-organ">Hi,@Model.LoginId [ 會員登出 ]</a></span></td>
      </tr>
      <tr>
        <td colspan="2" align="center"><img src="/in-image/member-table-D.gif" alt="icon" width="617" height="22" /></td>
      </tr>
    </table>
    </div>   
      
  </div><!--內容結尾-->
</div>