@model FTISWeb.Models.MemberModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using FTISWeb.Helper;
@using System.Web.Optimization
@using FTISWeb.Models;
@using FTIS.ACUtility;
@using FTIS.Domain;
@using FTISWeb.Utility;
@using FTIS.Domain.Impl;
@{
    string m_Cdts = (string)ViewData["Conditions"];
    
    @*權限*@
    bool AllowCreate = (bool)ViewData["AllowCreate"];
    bool AllowEdit = (bool)ViewData["AllowEdit"];

    SiteOperations Action = SiteOperations.Create;
    if (Model.EntityId != 0)
    {
        Action = SiteOperations.Edit;
    }
    
    @*分類*@    
    IList<SelectListItem> m_IndustrySelectListItem = new List<SelectListItem>();
    if (ViewData["IndustrySelectList"] != null)
    {
        m_IndustrySelectListItem = (List<SelectListItem>)ViewData["IndustrySelectList"];
    } 
}
@section TitleContent{}
@section HeadContent{
    @Scripts.Render("~/bundles/CKEditor")
    <script type="text/javascript">
        $(function () {
            $("#btnClear").click(function () {
                ClearUI('#frmSave');
            });

            $("#RegDate").kendoDatePicker({
                change: OnPostDateChange,
                format: "yyyy/MM/dd"
            });
        });        
    </script>
}

@using (Html.BeginForm(Action.ToString(), "Member", new { cdts = (string)ViewData["Conditions"] }, FormMethod.Post, new { id = "frmSave" }))
{
    <input id="EntityId" name="EntityId" type="hidden" value="@Model.EntityId" />       
    <fieldset class="fieldset">
        <h1>會員管理 </h1>
        <table style="width: 100%" class="FormTable">       
            <tr>
                <td style="text-align:right;">*會員帳號：
                </td>
                <td>
                    @Html.TextBox("LoginId", Model.LoginId, new { id = "LoginId", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">*登入密碼：
                </td>
                <td>
                    @Html.Password("Password", Model.Password, new { id = "Password", @style = "width: 600px;" })
                </td>
            </tr>     
            <tr>
                <td style="text-align:right;">*姓名：
                </td>
                <td>
                    @Html.TextBox("Name", Model.Name, new { id = "Name" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">*公司名稱：
                </td>
                <td>
                    @Html.TextBox("Company", Model.Company, new { id = "Company", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">*統一編號：
                </td>
                <td>
                    @Html.TextBox("CompanyNo", Model.CompanyNo, new { id = "CompanyNo", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">*公司規模：
                </td>
                <td>
                    <label>@Html.RadioButtonFor(m => m.CompanyNum, "1")大企業</label>
                    <label>@Html.RadioButtonFor(m => m.CompanyNum, "2")中小企業</label>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">*行業別：
                </td>
                <td>
                    @Html.DropDownList("IndustryId", m_IndustrySelectListItem, "請選擇")
                </td>
            </tr> 
            <tr>
                <td style="text-align:right;">*電子郵件：
                </td>
                <td>
                    @Html.TextBox("Email", Model.Email, new { id = "Email", @style = "width: 600px;" })
                </td>
            </tr>     
            <tr>
                <td style="text-align:right;">*公司屬性：
                </td>
                <td>
                    <input type="checkbox" name="CompanyTypeList" value="1" @(Model.CompanyTypeList.Contains("1")? "checked" :string.Empty) />
            ODM(設計製造代工廠)　
            <input type="checkbox" name="CompanyTypeList" value="2" @(Model.CompanyTypeList.Contains("2")? "checked" :string.Empty)/>
            OBM(品牌廠商)　<br />
            <input type="checkbox" name="CompanyTypeList" value="3" @(Model.CompanyTypeList.Contains("3")? "checked" :string.Empty)/>
            OEM(設備製造代工廠)　            　　　　　　
            <input type="checkbox" name="CompanyTypeList" value="4" @(Model.CompanyTypeList.Contains("4")? "checked" :string.Empty)/>
            其他 
            @Html.TextBox("CompanyTypeOther", Model.CompanyTypeOther, new { id = "CompanyTypeOther" })  
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">部門 ：
                </td>
                <td>
                    @Html.TextBox("Dept", Model.Dept, new { id = "Dept", @style = "width: 600px;" })
                </td>
            </tr>                       
            <tr>
                <td style="text-align:right;">傳真 ：
                </td>
                <td>
                    @Html.TextBox("Fax", Model.Fax, new { id = "Fax", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">*調查日期：
                </td>
                <td>
                    @Html.TextBox("RegDate", Model.RegDate, new { id = "RegDate" })
                </td>
            </tr>                                                                                           
            <tr>
                <td style="text-align:right;">*主要產品？：
                </td>
                <td>
                    @Html.TextArea("Content", Model.Content, new { id = "Content", cols="45", rows="10" })  
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">*狀態：
                </td>
                <td>
                    <label>@Html.RadioButtonFor(m => m.Status, "0")審核中</label>
                    <label>@Html.RadioButtonFor(m => m.Status, "1")審核通過</label>
                    <label>@Html.RadioButtonFor(m => m.Status, "2")審核不通過</label>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td style="text-align:left; height:30px;">
                    @if (SiteOperations.Create.Equals(Action) && AllowCreate)
                    {
                        <input id="btnCreate" class="btn" type="submit" value="新增" />                        
                    }
                    @if (SiteOperations.Edit.Equals(Action) && AllowEdit)
                    {
                        <input id="btnEdit" class="btn" type="submit" value="修改" />                        
                    }
                    <input id="btnClear" class="btn" type="button" value="重填" />
                    @Html.Raw(Url.ButtonLink("回清單", "AdminIndex", "Member", new { cdts = m_Cdts }, new { @class = "btn" }))
                </td>
            </tr>
        </table>
    </fieldset>
@Html.ValidationSummary()
}
<br />
