@model FTISWeb.Models.NodeModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using FTISWeb.Helper;
@using System.Web.Optimization
@using FTISWeb.Models;
@using FTIS.ACUtility;
@using FTIS.Domain;

@{
    bool AllowEdit = (bool)ViewData["AllowEdit"];    
}
@section TitleContent{}
@section HeadContent{
    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ckfinder/ckfinder.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnClear").click(function () {
                CKEDITOR.instances.Content.setData('');
            });
            
            $('#Content').CKEditorInit("@Url.Content("~/Scripts/ckfinder/")");
        });
    </script>
}

@using (Html.BeginForm("Edit", "AboutUs", new { id = Model.NodeId }, FormMethod.Post, new { id = "frmEdit" }))
{
    @Html.HiddenFor(m => m.NodeId) 
    @Html.HiddenFor(m => m.ParentNodeId)
    @Html.HiddenFor(m => m.Name)  
    @Html.HiddenFor(m => m.NameENG) 
    @Html.HiddenFor(m => m.SortId)  
    @Html.HiddenFor(m => m.Status)        
    <fieldset class="fieldset">
        <h1>@Model.Name</h1>
        <table style="width: 100%" class="FormTable">            
            <tr>
                <td valign="top">內容：
                </td>
                <td>
                    @Html.TextArea("Content", Model.Content, new { id = "Content" })
                </td>
            </tr>            
            <tr>
                <td colspan="2" height="30px" align="center">
                    @if (AllowEdit)
                    {
                        <input class="btn" type="submit" value="送出" />
                        <input id="btnClear" class="btn" type="button" value="重填" />
                    }
                </td>
            </tr>
        </table>
    </fieldset>
}
<br />

@if (Model.ShowFreeGOMsg)
{
    switch (Model.FreeGOColumnName)
    {
        case "Content":
            Html.RenderPartial("FreeGoMsgScriptView", new FreeGOModel("內容", Model.Content));
            break;
    }
}
