@model FTISWeb.Models.NodeModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    SessionHelper m_SessionHelper = new SessionHelper();
}
@using FTISWeb.Helper;
@using System.Web.Optimization
@using FTISWeb.Models;
@using FTIS.ACUtility;
@using FTIS.Domain;

@{
    bool AllowEdit = (bool)ViewData["AllowEdit"];
    
    string m_FuncName = string.Empty;
    switch (Model.NodeId)
    {
        case 5:
            m_FuncName = "計畫介紹Introduction";
            break;
        case 6:
            m_FuncName = "服務窗口";
            break;
        case 7:
            m_FuncName = "經驗分享";
            break;
    }

    bool m_ShowENG = false;
    switch (Model.NodeId)
    {
        case 5:
            m_ShowENG = true;
            break;
    }
}
@section TitleContent{}
@section HeadContent{
    @Scripts.Render("~/bundles/CKEditor")
    <script type="text/javascript">
        $(function () {
            $("#btnClearCHT").click(function () {
                CKEDITOR.instances.Content.setData('');
            });

            if ('@Model.NodeId' == '5') {
                $("#btnClearENG").click(function () {
                    CKEDITOR.instances.ContentENG.setData('');
                });
            }

            $("#ChangeToCHT").click(function () {
                $("#dvCHT").show();
                $("#dvENG").hide();
            });

            $("#ChangeToENG").click(function () {
                $("#dvCHT").hide();
                $("#dvENG").show();
            });
            
            $('#Content').CKEditorInit("@Url.Content("~/Scripts/ckfinder/")");
            if ('@Model.NodeId' == '5') {
                $('#ContentENG').CKEditorInit("@Url.Content("~/Scripts/ckfinder/")");
            }
        });
    </script>
}

@using (Html.BeginForm("Edit", "AboutUs", new { id = Model.NodeId }, FormMethod.Post, new { id = "frmEdit" }))
{
    @Html.HiddenFor(m => m.NodeId) 
    @Html.HiddenFor(m => m.ParentNodeId)
    @Html.HiddenFor(m => m.Name)  
    @Html.HiddenFor(m => m.NameENG) 
    @Html.HiddenFor(m => m.SortId)  
    @Html.HiddenFor(m => m.Status)        
    <fieldset class="fieldset">
        <h1>@m_FuncName</h1>
        @if(m_ShowENG)
        {
            <div style="width:100%; text-align:left; height:30px; padding-top:10px; font-size:12px; font-weight:bold;">切換語言：　<a href="#"><span id="ChangeToCHT">中文</span></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#"><span id="ChangeToENG">英文</span></a></div>
        }
        <div id="dvCHT">
        <table style="width: 100%" class="FormTable">            
            <tr>
                <td valign="top">內容：
                </td>
                <td>
                    @Html.TextArea("Content", Model.Content, new { id = "Content" })
                </td>
            </tr>            
            <tr>
                <td colspan="2" height="30px" align="center">
                    @if (AllowEdit)
                    {
                        <input class="btn" type="submit" value="送出" />
                        <input id="btnClearCHT" class="btn" type="button" value="重填" />
                    }
                </td>
            </tr>
        </table>
        </div>
        @if (m_ShowENG)
        {
            <div id="dvENG" style="display:none;">
                <table style="width: 100%" class="FormTable">
                    <tr>
                        <td valign="top">內容(英)：
                        </td>
                        <td>
                            @Html.TextArea("ContentENG", Model.ContentENG, new { id = "ContentENG" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" height="30px" align="center">
                            @if (AllowEdit)
                            {
                                <input class="btn" type="submit" value="送出" />
                                <input id="btnClearENG" class="btn" type="button" value="重填" />
                            }
                        </td>
                    </tr>
                </table>
            </div>
        }
    </fieldset>
}
<br />

@if (Model.ShowFreeGOMsg)
{
    switch (Model.FreeGOColumnName)
    {
        case "Content":
            Html.RenderPartial("FreeGoMsgScriptView", new FreeGOModel("內容", Model.Content));
            break;
        case "ContentENG":
            ////Introduction 才有英文
            if (m_ShowENG)
            {
                Html.RenderPartial("FreeGoMsgScriptView", new FreeGOModel("內容(英)", Model.ContentENG));
            }
            break;
    }
}
