@using System.Web.Optimization
@using FTISWeb.Models;
@{
    HomeShowModel Model = new HomeShowModel();
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Industrial Statainable Development Clearinghouse</title>
    @Scripts.Render("~/bundles/JQuery", "~/bundles/SiteHome")
    @Styles.Render("~/Content/EngSiteInCSS")
    @RenderSection("HeadContent", false)
</head>

<body>
<div id="TopBtn"><!--按鈕bar-->
 <div id="TopBtn-table">
  <a href="@Url.Action("EngIndex", "Home")"><div id="Logo-e"></div></a>
  <ul class="Rubtn-Ul-e">
    <li class="Rubtn-icon"><a href="@Url.Action("EngIndex", "Home")">HOME</a></li>
    <li class="Rubtn-icon3"><a href="@Url.Action("EngSiteMap", "Home")">SITEMAP</a></li>
    <li class="Rubtn-icon2-e"><a href="@Url.Action("Index", "Home")">中文版</a></li>
</ul>
  <ul class="TopBtn-ul-e">
    <a href="@Url.Action("EngIndex", "Home")"><li class="e-btn1"></li></a>
    <li class="TopBtn-LI-icon"></li>
    <a href="@Url.Action("EngIndex", "News")"><li class="e-btn2"></li></a>
    <li class="TopBtn-LI-icon"></li>
    <a href="@Url.Action("EngIndex", "Brief")"><li class="e-btn3"></li></a>
    <li class="TopBtn-LI-icon"></li>
    <a href="@Url.Action("EngIndex", "Links")"><li class="e-btn4"></li></a>
  </ul>
 </div>
</div><!--按鈕bar結尾-->
@RenderBody()
<div id="foot">
  <div class="Foot-Table">
    <table border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="158"><a href="http://www.webguide.nat.gov.tw/enable.jsp?category=20080822114055" target="_blank" ><img src="@Url.Content("~/image/aplus.gif")" width="88" height="31" alt="a+" /></a></td>
        <td width="64"><img src="@Url.Content("~/image/logo2.gif")" width="56" height="50" alt="產業永續發展整合資訊網" /></td>
        <td width="671">本網站由經濟部工業局「產業永續發展與因應國際環保標準輔導計畫」專案委辦　財團法人台灣產業服務基金會維護管理<br />
           電話：02-23255223 傳真：02-23253922 ※ 版權所有，非經同意，請勿轉載<br />
        建議使用螢幕解析度 1024 x 768 以上，IE6 以上瀏覽器瀏覽　[ 網站設計 / 網路行銷 - by yummy ]</td>
      </tr>
    </table>
  </div>
</div>

</body>
</html>

