@{
    HomeShowModel m_hsModel = new HomeShowModel();
    NodeModel m_NodeModel = new NodeModel();
    @*分類*@
    IList<Node> m_NodeList = new List<Node>();
    if (ViewData["NodeList"] != null)
    {
        m_NodeList = (List<Node>)ViewData["NodeList"];
    } 
}
@using FTIS.Domain.Impl;
@using FTISWeb.Models;
@using System.Collections;

<div id="In-leftTitle">
    <img src="@Url.Content("~/in-image/left-title-a5.png")" alt="企業永續發展應用" /></div>
@{
    if (m_NodeList != null && m_NodeList.Count > 0)
    {
        foreach (Node node in m_NodeList)
        {
            IList<Post> postList = m_NodeModel.GetPostList(true, node.NodeId);
                  
            if(postList.Count==0)
            {
                <a href="@Url.Action("Index", "Green", new { id = m_hsModel.EncryptId(node.NodeId) })"><div class="Left-sbtn">@node.Name</div></a>     
            }                   
            else
            {
                <a href="@Url.Action("Index2", "Green", new { id = m_hsModel.EncryptId(postList[0].PostId) })"><div class="Left-sbtn">@node.Name</div></a>
                foreach (Post post in postList)
                {
                    <div class="Left-ssbtn"><a href="@Url.Action("Index2", "Green", new { id = m_hsModel.EncryptId(post.PostId) })">@post.Name</a></div>
                }
                <br />
            }
        }
    } 
}