@{
    HomeShowModel m_hsModel = new HomeShowModel();
    @*分類*@
    IList<QuestionClass> m_QuestionClassList = new List<QuestionClass>();
    if (ViewData["QuestionClassList"] != null)
    {
        m_QuestionClassList = (List<QuestionClass>)ViewData["QuestionClassList"];
    } 
}
@using FTIS.Domain.Impl;
@using FTISWeb.Models;

<div id="In-leftTitle"><img src="@Url.Content("~/in-image/left-title-a7.png")" alt="永續產業資訊FAQ"/></div>
<a href="http://www.ftis.org.tw/Consultation/index.aspx" target="_blank"><div class="Left-sbtn">線上諮詢</div></a>
<a href="@Url.Action("Index", "AboutUs", new { id = m_hsModel.EncryptId(6) })"><div class="Left-sbtn">服務窗口</div></a>
<a href="@Url.Action("Index", "Question")"><div class="Left-sbtn">永續產業資訊FAQ</div></a>
<div class="Left-ssbtn"><a href="@Url.Action("Index", "Question")">全部</a></div>
@if (m_QuestionClassList != null && m_QuestionClassList.Count > 0)
{
    foreach (QuestionClass questionClass in m_QuestionClassList)
    {
        <div class="Left-ssbtn"><a href="@Url.Action("Index", "Question", new { questionClassId = m_hsModel.EncryptId(questionClass.QuestionClassId) })">@questionClass.Name</a></div>                    
    }
}
