@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using FTISWeb.Helper;
@using System.Web.Script.Serialization
@using FTISWeb.Utility;
@using System.Web.Optimization
@using FTIS.Domain;
@using FTISWeb.Models;

@{
    JavaScriptSerializer m_JsonConvert = new JavaScriptSerializer();    
    IDictionary<string, string> m_Conditions = m_JsonConvert.Deserialize<IDictionary<string, string>>((string)ViewData["Conditions"]);
    string m_Cdts = (string)ViewData["Conditions"];

    @*權限*@
    bool AllowRead = (bool)ViewData["AllowRead"];
    bool AllowCreate = (bool)ViewData["AllowCreate"];
    bool AllowEdit = (bool)ViewData["AllowEdit"];
    bool AllowDelete = (bool)ViewData["AllowDelete"];
 }

@section TitleContent{}
@section HeadContent{        
    <script>
        $(function () {
            //按下查詢鈕
            $("#btnQuery").click(function () {
                Query();
            });

            //按下刪除鈕
            $("#btnDeleteAll").click(function () {
                DeleteItems('所選項目');
            });

            $("#KeyWord").enterPressed(function () {
                Query();
            });

            //Grid的刪除
            $("#dvGrid").on("click", ".k-grid-Delete", function () {
                var entityId = $(this).attr('entityId');
                var entityName = $(this).attr('entityName');
                DeleteItem(entityId, entityName);
            });
        });

        function Query() {
            $("#dvGrid").load('@Url.Action("RefreshAdminGrid", "NewsClass")', {
                keyWord: $("#KeyWord").val()
            });
        }                      

        //刪除1筆動作(留在頁面寫)
        function OnDeleteItem(id) {            
            $.post('@Url.Action("Delete", "NewsClass")', { id: id }, function (data) {                
                if (data.ErrorCode != '@((int)AjaxResultStatus.Success)') {
                    $(".deleteMsgFail").append(data.Message + '<br/>')
                }                
                OnDelete_Complete();
            });
        }

        //刪除多筆動作(留在頁面寫)
        function OnDeleteItems(allId) {
            $.post('@Url.Action("MultiDelete", "NewsClass")', { allId: allId }, function (data) {
                if (data.ErrorCode != '@((int)AjaxResultStatus.Success)') {
                    $(".deleteMsgFail").append(data.Message + '<br/>')
                }                
                OnDelete_Complete();
            });
        }
    </script>
}

<fieldset class="fieldset">
    <h1>新聞動態議題管理</h1>
    <table style="width: 100%" class="FormTable">
        <tr>
            <td style="width:100px; text-align:right;">關鍵字：
            </td>
            <td >
                @Html.TextBox("KeyWord", m_Conditions["KeyWord"])
                <input type="button" class="btn" value="查詢" id="btnQuery" />                
            </td>
        </tr>        
    </table>
    <br />
    <table>
        <tr>            
            <td style="text-align:left;">
                @Html.Raw(Url.ButtonLink("新增", "Create", "NewsClass", AllowCreate, new { cdts = m_Cdts }, new { @class = "btn" }))
                @if(AllowDelete)
                {
                    <input type="button" class="btn" value="刪除" id="btnDeleteAll" />                
                }
            </td>
        </tr>  
    </table>
    <div id="dvGrid">
        @Html.Partial("AdminGridList", new ParamaterModel("Edit", "NewsClass", m_Cdts))
    </div>    
    <div class="deleteMsgFail"></div>
</fieldset>
