@model IPagedList<FTIS.Domain.Impl.Activity>
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using MvcPaging
@using FTISWeb.Models;
@{
    HomeShowModel m_hsModel = new HomeShowModel();
}
<div id="In-Table">
  <div id="In-left"><!--左-->
    <div id="In-flash">
      <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="253" height="152">
        <param name="movie" value="/swf/inflash.swf" />
        <param name="quality" value="high" />
        <param name="wmode" value="opaque" />
        <param name="swfversion" value="9.0.45.0" />
        <!-- 此 param 標籤會提示使用 Flash Player 6.0 r65 和更新版本的使用者下載最新版本的 Flash Player。如果您不想讓使用者看到這項提示，請將其刪除。 -->
        <param name="expressinstall" value="Scripts/expressInstall.swf" />
        <!-- 下一個物件標籤僅供非 IE 瀏覽器使用。因此，請使用 IECC 將其自 IE 隱藏。 -->
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="/swf/inflash.swf" width="253" height="152">
          <!--<![endif]-->
          <param name="quality" value="high" />
          <param name="wmode" value="opaque" />
          <param name="swfversion" value="9.0.45.0" />
          <param name="expressinstall" value="Scripts/expressInstall.swf" />
          <!-- 瀏覽器會為使用 Flash Player 6.0 和更早版本的使用者顯示下列替代內容。 -->
          <div>
            <h4>這個頁面上的內容需要較新版本的 Adobe Flash Player。</h4>
            <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="取得 Adobe Flash Player" width="112" height="33" /></a></p>
          </div>
          <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
      </object>
    </div>
    
    <div id="In-leftTitle"><img src="in-image/left-title3.png" alt="活動訊息"/></div>
    @Html.Partial("InSiteLeftMenu");
  </div><!--左結尾-->


  <div id="InShow"><!--內容-->
    <div id="InShow-adv"><object id="FlashID2" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="746" height="81">
        <param name="movie" value="/swf/inTopflash.swf" />
        <param name="quality" value="high" />
        <param name="wmode" value="opaque" />
        <param name="swfversion" value="9.0.45.0" />
        <!-- 此 param 標籤會提示使用 Flash Player 6.0 r65 和更新版本的使用者下載最新版本的 Flash Player。如果您不想讓使用者看到這項提示，請將其刪除。 -->
        <param name="expressinstall" value="Scripts/expressInstall.swf" />
        <!-- 下一個物件標籤僅供非 IE 瀏覽器使用。因此，請使用 IECC 將其自 IE 隱藏。 -->
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="/swf/inTopflash.swf" width="746" height="81">
          <!--<![endif]-->
          <param name="quality" value="high" />
          <param name="wmode" value="opaque" />
          <param name="swfversion" value="9.0.45.0" />
          <param name="expressinstall" value="Scripts/expressInstall.swf" />
          <!-- 瀏覽器會為使用 Flash Player 6.0 和更早版本的使用者顯示下列替代內容。 -->
          <div>
            <h4>這個頁面上的內容需要較新版本的 Adobe Flash Player。</h4>
            <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="取得 Adobe Flash Player" width="112" height="33" /></a></p>
          </div>
          <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
      </object></div>
      <h1>活動訊息<span class="Pon"><a href="@Url.Action("Index", "Home")">首頁</a> &gt; 活動訊息</span>    </h1>    
      <div id="InShow-INob">
      <table width="650" border="0" cellpadding="0" cellspacing="0">
            <tr>
            <td class="News-Stitle">辦理日期</td>
            <td class="News-Stitle">活動名稱</td>
            <td class="News-Stitle">辦理單位</td>
            <td class="News-Stitle">活動狀況</td>
          </tr>
          @{
              int i = 1;
              foreach (var entity in Model)
              {
                  string rowClass = (i % 2 == 0) ? "News-Sob02" : "News-Sob01";
                  <tr>
                    <td class="@rowClass">@entity.GetStr_PostDate</td>
                    <td class="@rowClass"><a href="@Url.Action("Detail", "Activity", new { id= m_hsModel.EncryptId(entity.ActivityId)})">@m_hsModel.SubString(entity.Name, 30, true)</a>
                        @if("1".Equals(entity.IsNew))
                        {
                            <img src="image/newsicon.gif" width="30" height="13" alt="New"/>
                        }
                    </td>
                    <td class="@rowClass" style="width:90px;">@entity.MCompany</td>
                    <td class="@rowClass"><span class="Act-Status">@entity.ActStatus</span></td>
                 </tr>
                  i++; 
              }
          }                   
      </table>
    </div>
      <div class="PageNumber pager">
          <span class="PageNumber-txt2">第@(Model.PageIndex + 1)頁，共@(Model.TotalItemCount)筆</span>
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
          <span class="PageNumber-txt3">第<input id="txtPage" type="text" size="1" />頁 <a href="javascript:GoPage('@Url.Action("Index", "Activity")')">GO</a></span></div>
      </div>
    
    @*<div class="InSearchDown">
      <img src="image/search.png"/>　關鍵字搜尋
      <input name="textfield2" type="text" class="InShow-searchOrder" id="textfield2" />
      <a href="search.html"><div class="InShow-searchBtn"></div></a>
    </div>*@
    
  </div><!--內容結尾-->
</div>