@model IPagedList<FTIS.Domain.Impl.Activity>
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using MvcPaging
@using FTISWeb.Models;
@{
    HomeShowModel m_hsModel = new HomeShowModel();
}
<div id="In-Table">
  <div id="In-left"><!--左-->
    @Html.Partial("InFlash")    
    @Html.Partial("ActivityLeftMenu")
    @Html.Partial("InSiteLeftMenu")
  </div><!--左結尾-->


  <div id="InShow"><!--內容-->
    @Html.Partial("InShowAdv")
      <h1>活動訊息<span class="Pon"><a href="@Url.Action("Index", "Home")">首頁</a> &gt; 活動訊息</span></h1>    
      <div id="InShow-INob">
      <table width="650" border="0" cellpadding="0" cellspacing="0">
            <tr>
            <td class="News-Stitle">辦理日期</td>
            <td class="News-Stitle">活動名稱</td>
            <td class="News-Stitle">辦理單位</td>
            <td class="News-Stitle">活動狀況</td>
          </tr>
          @{
              int i = 1;
              foreach (var entity in Model)
              {
                  string rowClass = (i % 2 == 0) ? "News-Sob02" : "News-Sob01";
                  <tr>
                    <td class="@rowClass">@entity.GetStr_PostDate</td>
                    <td class="@rowClass"><a href="@Url.Action("Detail", "Activity", new { id= m_hsModel.EncryptId(entity.ActivityId)})">@m_hsModel.SubString(entity.Name, 30, true)</a>
                        @if("1".Equals(entity.IsNew))
                        {
                            <img src="image/newsicon.gif" width="30" height="13" alt="New"/>
                        }
                    </td>
                    <td class="@rowClass" style="width:90px;">@entity.MCompany</td>
                    <td class="@rowClass"><span class="Act-Status">@entity.ActStatus</span></td>
                 </tr>
                  i++; 
              }
          }                   
      </table>
    </div>
      <div class="PageNumber pager">
          <span class="PageNumber-txt2">第@(Model.PageIndex + 1)頁，共@(Model.TotalItemCount)筆</span>
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
          <span class="PageNumber-txt3">第<input id="txtPage" type="text" size="1" />頁 <a href="javascript:GoPage('@Url.Action("Index", "Activity")')">GO</a></span>
      </div>
  </div><!--內容結尾-->
</div>