@model FTISWeb.Models.ActivityModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using FTISWeb.Helper;
@using System.Web.Optimization
@using FTISWeb.Models;
@using FTIS.ACUtility;
@using FTIS.Domain;
@using FTISWeb.Utility;

@{
    string m_Cdts = (string)ViewData["Conditions"];
    
    @*權限*@
    bool AllowCreate = (bool)ViewData["AllowCreate"];
    bool AllowEdit = (bool)ViewData["AllowEdit"];

    SiteOperations Action = SiteOperations.Create;
    if(Model.EntityId != 0)
    {
        Action = SiteOperations.Edit;
    }
}
@section TitleContent{}
@section HeadContent{
    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ckfinder/ckfinder.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnClear").click(function () {
                ClearUI('#frmSave');
                CKEDITOR.instances.Content.setData('');
                $("#Vister").val('0');
                $("#Emailer").val('0');
                $("#Printer").val('0');
                $("#SortId").val('0');
            });                        

            $('#Content').CKEditorInit("@Url.Content("~/Scripts/ckfinder/")");

            $("#PostDate").kendoDatePicker({
                change: OnPostDateChange,
                format: "yyyy/MM/dd"
            });

            CreateImgUploader("Pic1", '@Url.Action("BasicUpload", "FileHandle")');
            CreateImgUploader("Pic2", '@Url.Action("BasicUpload", "FileHandle")');
            CreateImgUploader("Pic3", '@Url.Action("BasicUpload", "FileHandle")');
            CreateFileUploader("AFile1", '@Url.Action("BasicUpload", "FileHandle")');
            CreateFileUploader("AFile2", '@Url.Action("BasicUpload", "FileHandle")');
            CreateFileUploader("AFile3", '@Url.Action("BasicUpload", "FileHandle")');
        });        

        function SetFileField(fileUrl, data) {
            var filepath = fileUrl.replace("@AppSettings.CKFinderFileHandler", "");
            document.getElementById(data["selectActionData"]).value = filepath;
        }
    </script>
}

@using (Html.BeginForm(Action.ToString(), "Activity", new { cdts = (string)ViewData["Conditions"] }, FormMethod.Post, new { id = "frmSave" }))
{
    <input id="EntityId" name="EntityId" type="hidden" value="@Model.EntityId" />   
    <input id="Page" name="Page" type="hidden" value="@Model.Page" />          
    <fieldset class="fieldset">
        <h1>活動訊息管理</h1>
        <table style="width: 100%" class="FormTable">
            <tr>
                <td style="text-align:right;">主題分類：
                </td>
                <td>
                    編號：@Html.TextBox("MainCode", Model.MainCode, new { id = "MainCode", @style = "width: 50px;" }) 名稱：@Html.TextBox("MainName", Model.MainName, new { id = "MainName" })
                    <select id="ddlMainCode" onchange="GetSelInfo('ddlMainCode','MainCode','MainName');" style="width: 164px">
                        <option selected="selected" value=""></option>
                        <option value="700">農業環保</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">施政分類：
                </td>
                <td>
                    編號：@Html.TextBox("AdminCode", Model.AdminCode, new { id = "AdminCode", @style = "width: 50px;" }) 名稱：@Html.TextBox("AdminName", Model.AdminName, new { id = "AdminName" })
                    <select id="ddlAdminCode" onchange="GetSelInfo('ddlAdminCode','AdminCode','AdminName');" style="width: 164px">
                        <option selected="selected" value=""></option>
                        <option value="700">經濟貿易</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">服務分類：
                </td>
                <td>
                    編號：@Html.TextBox("ServiceCode", Model.ServiceCode, new { id = "ServiceCode", @style = "width: 50px;" }) 名稱：@Html.TextBox("ServiceName", Model.ServiceName, new { id = "ServiceName" })
                    <select id="ddlServiceCode" onchange="GetSelInfo('ddlServiceCode','ServiceCode','ServiceName');" style="width: 164px">
                        <option selected="selected" value=""></option>
                        <option value="700">生活安全及品質</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">*標題：
                </td>
                <td>
                    @Html.TextBox("Name", Model.Name, new { id = "Name", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">*刊登日期：
                </td>
                <td>
                    @Html.TextBox("PostDate", Model.PostDate, new { id = "PostDate" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">主辦單位：
                </td>
                <td>
                    @Html.TextBox("MCompany", Model.MCompany, new { id = "MCompany", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">連絡人姓名：
                </td>
                <td>
                    @Html.TextBox("Contact", Model.Contact, new { id = "Contact", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">舉辦日期：
                </td>
                <td>
                    @Html.TextBox("ActDate", Model.ActDate, new { id = "ActDate", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">連絡人電話：
                </td>
                <td>
                    @Html.TextBox("Tel", Model.Tel, new { id = "Tel", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">活動地點：
                </td>
                <td>
                    @Html.TextBox("Address", Model.Address, new { id = "Address", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">連絡人傳真：
                </td>
                <td>
                    @Html.TextBox("Fax", Model.Fax, new { id = "Fax", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">報名費用：
                </td>
                <td>
                    @Html.TextBox("ActFee", Model.ActFee, new { id = "ActFee", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">報名方式：
                </td>
                <td>
                    @Html.TextBox("ActType", Model.ActType, new { id = "ActType", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">相關連結：
                </td>
                <td>
                    @Html.TextBox("AUrl", Model.AUrl, new { id = "AUrl", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">報名狀態：
                </td>
                <td>
                    @Html.TextBox("JoinStatus", Model.JoinStatus, new { id = "JoinStatus", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">活動狀態：
                </td>
                <td>
                    @Html.TextBox("ActStatus", Model.ActStatus, new { id = "ActStatus", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">資料來源1：
                </td>
                <td>
                    @Html.TextBox("AUrl1", Model.AUrl1, new { id = "AUrl1", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">資料來源2：
                </td>
                <td>
                    @Html.TextBox("AUrl2", Model.AUrl2, new { id = "AUrl2", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">資料來源3：
                </td>
                <td>
                    @Html.TextBox("AUrl3", Model.AUrl3, new { id = "AUrl3", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right; vertical-align:top;">內容：
                </td>
                <td>
                    @Html.TextArea("Content", Model.Content, new { id = "Content" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">圖片1：
                </td>
                <td>
                    <input id="Pic1" name="Pic1" type="hidden" value="@Model.Pic1" />
                    <div id="file-uploaderPic1">
                        <noscript><p>上傳檔案必須啟用 JavaScript.</p></noscript>
                    </div>
                    <div style="float:left; @(string.IsNullOrEmpty(Model.Pic1)? "display:none;" : "")" id="file-functionPic1"> <a href="javascript:OpenUploadImgFile('Pic1', '@Url.Action("ShowImgFile", "FileHandle")');" >瀏覽</a> <a href="javascript:ClearFileAndHide('Pic1');">清除</a> </div>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">圖片1名稱：
                </td>
                <td>
                    @Html.TextBox("Pic1Name", Model.Pic1Name, new { id = "Pic1Name", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">圖片2：
                </td>
                <td>
                    <input id="Pic2" name="Pic2" type="hidden" value="@Model.Pic2" />
                    <div id="file-uploaderPic2">
                        <noscript><p>上傳檔案必須啟用 JavaScript.</p></noscript>
                    </div>
                    <div style="float:left; @(string.IsNullOrEmpty(Model.Pic2)? "display:none;" : "")" id="file-functionPic2"> <a href="javascript:OpenUploadImgFile('Pic2', '@Url.Action("ShowImgFile", "FileHandle")');" >瀏覽</a> <a href="javascript:ClearFileAndHide('Pic2');">清除</a> </div>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">圖片2名稱：
                </td>
                <td>
                    @Html.TextBox("Pic2Name", Model.Pic2Name, new { id = "Pic2Name", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">圖片3：
                </td>
                <td>
                    <input id="Pic3" name="Pic3" type="hidden" value="@Model.Pic3" />
                    <div id="file-uploaderPic3">
                        <noscript><p>上傳檔案必須啟用 JavaScript.</p></noscript>
                    </div>
                    <div style="float:left; @(string.IsNullOrEmpty(Model.Pic3)? "display:none;" : "")" id="file-functionPic3"> <a href="javascript:OpenUploadImgFile('Pic3', '@Url.Action("ShowImgFile", "FileHandle")');" >瀏覽</a> <a href="javascript:ClearFileAndHide('Pic3');">清除</a> </div>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">圖片3名稱：
                </td>
                <td>
                    @Html.TextBox("Pic3Name", Model.Pic3Name, new { id = "Pic3Name", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">附件1：
                </td>
                <td>
                    <input id="AFile1" name="AFile1" type="hidden" value="@Model.AFile1" />
                    <div id="file-uploaderAFile1">
                        <noscript><p>上傳檔案必須啟用 JavaScript.</p></noscript>
                    </div>
                    <div style="float:left; @(string.IsNullOrEmpty(Model.AFile1)? "display:none;" : "")" id="file-functionAFile1"> <a href="javascript:OpenUploadFile('AFile1', '@(AppSettings.CKFinderFileHandler)');" >瀏覽</a> <a href="javascript:ClearFileAndHide('AFile1');">清除</a> </div>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">附件1名稱：
                </td>
                <td>
                    @Html.TextBox("AFile1Name", Model.AFile1Name, new { id = "AFile1Name", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">附件2：
                </td>
                <td>
                    <input id="AFile2" name="AFile2" type="hidden" value="@Model.AFile2" />
                    <div id="file-uploaderAFile2">
                        <noscript><p>上傳檔案必須啟用 JavaScript.</p></noscript>
                    </div>
                    <div style="float:left; @(string.IsNullOrEmpty(Model.AFile2)? "display:none;" : "")" id="file-functionAFile2"> <a href="javascript:OpenUploadFile('AFile2', '@(AppSettings.CKFinderFileHandler)');" >瀏覽</a> <a href="javascript:ClearFileAndHide('AFile2');">清除</a> </div>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">附件2名稱：
                </td>
                <td>
                    @Html.TextBox("AFile2Name", Model.AFile2Name, new { id = "AFile2Name", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">附件3：
                </td>
                <td>
                    <input id="AFile3" name="AFile3" type="hidden" value="@Model.AFile3" />
                    <div id="file-uploaderAFile3">
                        <noscript><p>上傳檔案必須啟用 JavaScript.</p></noscript>
                    </div>
                    <div style="float:left; @(string.IsNullOrEmpty(Model.AFile3)? "display:none;" : "")" id="file-functionAFile3"> <a href="javascript:OpenUploadFile('AFile3', '@(AppSettings.CKFinderFileHandler)');" >瀏覽</a> <a href="javascript:ClearFileAndHide('AFile3');">清除</a> </div>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">附件3名稱：
                </td>
                <td>
                    @Html.TextBox("AFile3Name", Model.AFile3Name, new { id = "AFile3Name", @style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">*是否首頁顯示：
                </td>
                <td>
                    <label>@Html.RadioButtonFor(m => m.IsHome, "1")是</label>
                    <label>@Html.RadioButtonFor(m => m.IsHome, "0")否</label>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">*是否顯示new：
                </td>
                <td>
                    <label>@Html.RadioButtonFor(m => m.IsNew, "1")是</label>
                    <label>@Html.RadioButtonFor(m => m.IsNew, "0")否</label>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">瀏覽人數：
                </td>
                <td>
                    @Html.TextBox("Vister", Model.Vister, new { id = "Vister"})
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">轉寄：
                </td>
                <td>
                    @Html.TextBox("Emailer", Model.Emailer, new { id = "Emailer"})
                </td>
            </tr>
             <tr>
                <td style="text-align:right;">列印：
                </td>
                <td>
                    @Html.TextBox("Printer", Model.Printer, new { id = "Printer"})
                </td>
            </tr>            
            <tr>
                <td style="text-align:right;">*排序：
                </td>
                <td>
                    @Html.TextBox("SortId", Model.SortId, new { id = "SortId", @style = "width: 50px;" })排列順序︰越小越前面。
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">*狀態：
                </td>
                <td>
                    <label>@Html.RadioButtonFor(m => m.Status, "1")開啟</label>
                    <label>@Html.RadioButtonFor(m => m.Status, "0")關閉</label>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td style="text-align:left; height:30px;">
                    @if (SiteOperations.Create.Equals(Action) && AllowCreate)
                    {
                        <input id="btnCreate" class="btn" type="submit" value="新增" />                        
                    }
                    @if (SiteOperations.Edit.Equals(Action) && AllowEdit)
                    {
                        <input id="btnEdit" class="btn" type="submit" value="修改" />                        
                    }
                    <input id="btnClear" class="btn" type="button" value="重填" />
                    @Html.Raw(Url.ButtonLink("回清單", "AdminIndex", "Activity", new { cdts = m_Cdts, Page = Model.Page }, new { @class = "btn" }))
                </td>
            </tr>
        </table>
    </fieldset>
@Html.ValidationSummary()
}
<br />
@if (Model.ShowFreeGOMsg)
{
    switch (Model.FreeGOColumnName)
    {
        case "Content":
            Html.RenderPartial("FreeGoMsgScriptView", new FreeGOModel("內容", Model.Content));
            break;            
    }
}