@using System.Web.Optimization
@using FTISWeb.Models;
@{
    HomeShowModel Model = new HomeShowModel();
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>產業永續發展整合資訊網</title>
    @Scripts.Render("~/bundles/JQuery", "~/bundles/SiteHome")
    @Styles.Render("~/Content/SiteHomeCSS")
    <script type="text/javascript">
        $(function () {
            $("#txtSiteKeyWord").enterPressed(function () {
                SiteSearch('@Url.Action("Search", "Home")');
            });
        });
    </script>
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-44019250-1', 'ftis.org.tw');
        ga('send', 'pageview');
    </script>
    @RenderSection("HeadContent", false)
</head>

<body onload="MM_preloadImages('/image/home-banner-title-5-over.gif','/image/home-banner-title-8-over.gif','/image/home-banner-title-7-over.gif')">
<div id="TopBtn"><!--按鈕bar-->
 <div id="TopBtn-table">
  <a href="@Url.Action("Index", "Home")"><div id="Logo"></div></a>
  <div id="Visitors">您是本站第<span class="Vistors-txt">@Model.GetSumCountHits("1")</span>位訪客</div>
  <ul class="Rubtn-Ul">
    <li class="Rubtn-icon"><a href="@Url.Action("Index", "Home")">回首頁</a></li>
    <li class="Rubtn-icon3"><a href="@Url.Action("Index", "Member")">會員專區</a></li>
    <li class="Rubtn-icon3"><a href="@Url.Action("SiteMap", "Home")">網站導覽</a></li>
    <li class="Rubtn-icon2"><a href="@Url.Action("EngIndex", "Home")">English</a></li>
    <li class="Rubtn-Search">關鍵字搜尋
      <input name="textfield" type="text" class="Ru-searchOrder" id="txtSiteKeyWord" />
      <a href="#" onclick="SiteSearch('@Url.Action("Search", "Home")');"><div class="Ru-Search-Btn"></div></a>
    </li>
  </ul>
  <ul class="TopBtn-ul">
    <a href="@Url.Action("Index", "AboutUs", new { id = Model.EncryptId(5) })"><li class="TopBtn-LI1"></li></a>
    <li class="TopBtn-LI-icon"></li>
    <a href="@Url.Action("Index", "News")"><li class="TopBtn-LI2"></li></a>
    <li class="TopBtn-LI-icon"></li>
    <a href="@Url.Action("Index", "Activity")"><li class="TopBtn-LI3"></li></a>
    <li class="TopBtn-LI-icon"></li>
    <a href="@Url.Action("Index", "Download")"><li class="TopBtn-LI4"></li></a>
    <li class="TopBtn-LI-icon"></li>
    <a href="@Url.Action("Index", "Epaper")"><li class="TopBtn-LI5"></li></a>
    <li class="TopBtn-LI-icon"></li>
    <a href="@Url.Action("Index", "Links")"><li class="TopBtn-LI6"></li></a>
  </ul>
 </div>
</div><!--按鈕bar結尾-->
@RenderBody()
<div id="foot">
  <div class="Foot-Table">
    <table border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="158"><a href="http://www.webguide.nat.gov.tw/enable.jsp?category=20080822114055" target="_blank" ><img src="@Url.Content("~/image/aplus.gif")" width="88" height="31" alt="a+" /></a></td>
        <td width="64"><img src="@Url.Content("~/image/logo2.gif")" width="56" height="50" alt="產業永續發展整合資訊網" /></td>
        <td width="671">本網站由經濟部工業局「產業永續發展與因應國際環保標準輔導計畫」專案委辦　財團法人台灣產業服務基金會維護管理<br />
           電話：02-23255223 傳真：02-23253922 ※ 版權所有，非經同意，請勿轉載<br />
        建議使用螢幕解析度 1024 x 768 以上，IE6 以上瀏覽器瀏覽　[ 網站設計 / 網路行銷 - by yummy ]</td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>

