@using FTISWeb.Models;
@{
    HomeShowModel Model = new HomeShowModel();
}
<div id="Left-11btn-table">
      <a href="@Url.Action("Index", "Application")"><img src="/in-image/in-lbtn1.png" class="Left-11btn" alt="企業社會責任" /></a>
      <a href="@Url.Action("Index", "Norm")"><img src="/in-image/in-lbtn2.png" class="Left-11btn" alt="國際環保標準規範介紹" /></a>
      <a href="@Url.Action("Index", "Carbon")"><img src="/in-image/in-lbtn3.png" class="Left-11btn" alt="產品環境資訊揭露" /></a>
      <a href="@Url.Action("Index", "GreenFactory")"><img src="/in-image/in-lbtn4.png" border="0" class="Left-11btn" alt="綠色工廠" /></a>
      <a href="@Url.Action("Index", "Green")"><img src="/in-image/in-lbtn5.png" class="Left-11btn" alt="企業永續發展"/></a>
      <a href="@Url.Action("Index", "Technology")"><img src="/in-image/in-lbtn6.png" class="Left-11btn" alt="技術服務能量登錄"/></a>
      <a href="http://www.ftis.org.tw/Consultation/index.aspx" target="_blank"><img src="/in-image/in-lbtn7.png" class="Left-11btn" alt="線上諮詢" /></a>
      <a href="@Url.Action("Index", "AboutUs", new { id = Model.EncryptId(6) })"><img src="/in-image/in-lbtn8.png" class="Left-11btn" alt="服務窗口"/></a>
      <a href="@Url.Action("Index", "Question")"><img src="/in-image/in-lbtn9.png" class="Left-11btn" alt="產業服務專區"/></a>
      <a href="@Url.Action("Index", "Examination")"><img src="/in-image/in-lbtn10.png" class="Left-11btn" alt="問卷調查"/></a>
      <a href="@Url.Action("Order", "EpaperEmail")"><img src="/in-image/in-lbtn11.png" class="Left-11btn" alt="訂閱/退閱電子報" /></a>
</div>
