@{
    HomeShowModel m_hsModel = new HomeShowModel();
    NodeModel m_NodeModel = new NodeModel();
    @*分類*@
    IList<Node> m_NodeList = new List<Node>();
    if (ViewData["NodeList"] != null)
    {
        m_NodeList = (List<Node>)ViewData["NodeList"];
    } 
}
@using FTIS.Domain.Impl;
@using FTISWeb.Models;
@using System.Collections;

<div id="In-leftTitle">
    <img src="/in-image/left-title-a6.png" alt="技術服務能量登錄" /></div>
@{
    if (m_NodeList != null && m_NodeList.Count > 0)
    {
        foreach (Node node in m_NodeList)
        {
            IList<Node> nodeList = m_NodeModel.GetNodeList(true, node.NodeId);

            if (nodeList.Count == 0)
            {
                <a href="@Url.Action("Index", "Technology", new { id = m_hsModel.EncryptId(node.NodeId) })"><div class="Left-sbtn">@node.Name</div></a>     
            }                   
            else
            {
                <a href="@Url.Action("Index2", "Technology", new { nodeId = m_hsModel.EncryptId(nodeList[0].NodeId) })"><div class="Left-sbtn">@node.Name</div></a>
                foreach (Node subNode in nodeList)
                {
                    <div class="Left-ssbtn"><a href="@Url.Action("Index2", "Technology", new { nodeId = m_hsModel.EncryptId(subNode.NodeId) })">@subNode.Name</a></div>
                }
                <br />
            }
        }
    } 
}